<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    {% load bootstrap4 %}
    <link rel="stylesheet" type="text/css" href={% static "styles/bootstrap.min.css" %}>
</head>
<body>
<div class="container">

<div class="row"></div>
{% block content %}
{% endblock %}
<br>
<h>Ваша история:</h>
    <br>
    {% for answer in user_history reversed %}
        <h>{{ answer }}</h><br>
    {% endfor %}

<table class="table">
    {% for el in phychics %}
        <thead>
            <tr>
                <th>Имя</th>
                <th>Уровень доверия</th>
                <th>Версия числа</th>
                <th>История ответов</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ el.name }}</td>
                <td>{{ el.trust_level }}</td>
                <td>{{ el.version_of_number }}</td>
                <td>
                    {% for ver in el.all_versions reversed %}
                        <div class="row">{{ ver }}</div>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    {% endfor %}
</table>

</div>
</body>
</html>